.content ul {
  padding-left: 10px;
  text-align: left;
}

.content ul li {
  margin-bottom: 10px;
}

.content button {
  background-color: transparent;
  color: var(--text-color);
  font-family: 'Helvetica';
  font-size: 15px;
  padding: 15px;
  width: 95%;
  border: 1px solid var(--button-border);
  border-radius: 15px;
  margin: 10px;
  opacity: 75%;
}

.content button:hover button {
  transform: scale(1.05);
}

h1 {
  text-align: left;
}


button a {
  color: var(--button-text);
  font-family: 'Helvetica';
}

.content:hover .content {
  transition: 1s;
  transform: scale(1.02);
}

.content p {
  text-align: left;
}


