h1{
    text-align: center;
    font-size: 3rem;
}
.section{
    background-color: var(--card-background);
    border-radius: 1rem;
    padding: 1rem;
    margin: 1rem;
}	
.section h2{
    margin: 1rem;
    font-size: 2rem;
    text-align: center;
}
.section h3{
    margin: 1rem;
    font-size: 1.5rem;
}
.section ul{
    margin: 1.5rem;
    
}
.section li{
    margin: 0.5rem;
}
.section p{
    margin-left: 1rem;
    text-align: left;
    margin-bottom: 0.5rem;
}
.section a{
    margin: 1rem;
    color: var(--text-color);
}
.link-section{
    display: flex;
    justify-content: center;
}