body{
    padding-top: 50px;
}

#banner {
    background-image: url('../../../res/content/ST1/landscape-1.png');
    background-size: cover;
    background-position: center;
    height: 80vh;
}

.image-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
    gap: 2rem;
    flex-wrap: nowrap;
    width: 100%;
}

.image-container img {
    flex: 1;
    width: 100%;
    height: 250px; /* Fixed height for all images */
    object-fit: cover;
    border-radius: 8px;
    margin-bottom: 2rem;
    transition: all 0.3s ease-in-out;
    box-shadow: 0 2px 4px var(--shadow-color);
    max-width: 33%; /* Ensures images don't exceed roughly 1/3 of container */
}

.image-container img:hover {
    transform: scale(1.01);
	box-shadow: 0 4px 8px var(--shadow-color);
}

.full-image-container img {
    width: 100%;
    max-height: 500px;
    object-fit: cover;
    border-radius: 8px;
    margin-bottom: 2rem;
    transition: all 0.3s ease-in-out;
    box-shadow: 0 2px 4px var(--shadow-color);
}

.full-image-container img:hover {
    transform: scale(1.01);
	box-shadow: 0 4px 8px var(--shadow-color);
}

.featured-section {
    margin-bottom: 2rem;
}