body{
    padding-top: 50px;
}

.image-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
    gap: 2rem;
}

.image-container img {
    max-width: 50%;
    object-fit: cover;
    border-radius: 8px;
    margin-bottom: 2rem;
    transition: all 0.3s ease-in-out;
	box-shadow: 0 2px 4px var(--shadow-color);
}

.image-container img:hover {
    transform: scale(1.01);
	box-shadow: 0 4px 8px var(--shadow-color);
}

.vertical-line {
    width: 1px;
    height: 100%;
    background-color: #000; /* Change the color as needed */
    margin: 0 20px; /* Adjust the spacing as needed */
}