<footer>
    <div class="footer-container">
        <div class="logo-container">
            <div class="logo">
                <img src="/res/logo.svg" alt="Company Logo">
            </div>
        </div>
        <div class="footer-links">
            <div class="footer-column">
                <h3>Learn More</h3>
                <ul>
                    <li><a href="/src/content/content_ST1.html">Content 1</a></li>
                    <li><a href="/src/content/content_ST2.html">Content 2</a></li>
                    <li><a href="/src/content/content_ST3.html">Content 3</a></li>
                    <li><a href="/src/content/content_ST4.html">Content 4</a></li>
                    <li><a href="/src/content/content_ST5.html">Content 5</a></li>
                    <li><a href="/src/content/content_ST6.html">Content 6</a></li>
                </ul>
            </div>

            <div class="footer-column">
                <h3>Validation</h3>
                <ul>
                    <li><a href="../validation/validation_ST1.html">Lison's Validation</a></li>
                    <li><a href="../validation/validation_ST2.html">Sansith's Validation</a></li>
                    <li><a href="../validation/validation_ST3.html">Emika's Validation</a></li>
                    <li><a href="../validation/validation_ST4.html">Oshan's Validation</a></li>
                </ul>
            </div>

            <div class="footer-column">
                <h3>Contact Us</h3>
                <p><strong>Sansith:</strong> <a href="mailto:Sansith.20231614@iit.ac.lk"
                        class="contact-link">Sansith.20231615@iit.ac.lk</a></p>
                <p><strong>Lison:</strong> <a href="mailto:Lison.20231615@iit.ac.lk"
                        class="contact-link">Lison.20231615@iit.ac.lk</a></p>
                <p><strong>Emika:</strong> <a href="mailto:Emika.20231615@iit.ac.lk"
                        class="contact-link">Emika.20231615@iit.ac.lk</a></p>
                <p><strong>Oshan:</strong> <a href="mailto:Oshan.20231615@iit.ac.lk"
                        class="contact-link">Oshan.20231615@iit.ac.lk</a></p>

            </div>

            <div class="footer-column social">
                <h3>Social</h3>
                <a href="https://www.facebook.com/SustDev"><i class="fab fa-facebook"></i></a>
                <a href="https://twitter.com/SustDev"><i class="fab fa-twitter"></i></a>
                <a href="https://www.youtube.com/user/uncsd2012/featured"><i class="fab fa-youtube"></i></a>
            </div>
        </div>
    </div>
    <div class="footer-bottom">
        <p>&copy; 2025 Apilage Company | All Rights Reserved</p>
    </div>
</footer>