<footer>
	<div class="footer-container">
		<div class="logo-container">
			<div class="logo">
				<a href="../pages/home.html">
					<img src="../../res/logo.svg" alt="Logo" />
				</a>
			</div>
		</div>
		
		<div class="footer-links">
			<div class="footer-column">
				<h3>Learn More</h3>
				<ul>
					<li>
						<a href="/src/content/content_ST3.html">Overview</a>
					</li>
					<li>
						<a href="/src/content/content_ST2.html">Targets</a>
					</li>	
					<li>
						<a href="/src/content/content_ST4.html">Challenges</a>
					</li>
					<li>
						<a href="/src/content/content_ST1.html">Sustainable Energy</a>
					</li>
				</ul>
			</div>
			<div class="footer-column">
				<h3>Quick Links</h3>
				<ul>
					<li>
						<a href="../pages/home.html"
							>Home</a>
					</li>
					<li>
						<a href="../pages/sitemap.html"
							>Site Map</a>
					</li>
					<li>
						<a href="../pages/feedback.html"
							>Feedback</a>
					</li>
					<li>
						<a href="../pages/volunteer.html"
							>Volunteer</a
						>
					</li>
					<li>
						<a href="../pages/profile.html"
							>Profile Page</a
						>
					</li>
					<li>
						<a href="../pages/team.html"
							>About Us </a
						>
					</li>
				</ul>
			</div>
			<div class="footer-column">
				<h3>Page Editor</h3>
				<ul>
					<li>
						<a href="../pageEditor/pageEditor_ST1.html"
							>Sansith's PageEditor</a
						>
					</li>
					<li>
						<a href="../pageEditor/pageEditor_ST2.html"
							>Lison's PageEditor</a
						>
					</li>
					<li>
						<a href="../pageEditor/pageEditor_ST3.html"
							>Emika's PageEditor</a
						>
					</li>
					<li>
						<a href="../pageEditor/pageEditor_ST4.html"
							>Oshan's PageEditor</a
						>
					</li>
				</ul>
			</div>
			<div class="footer-column">
				<h3>Validation</h3>
				<ul>
					<li>
						<a href="../validation/validation_ST1.html"
							>Sansith's Validation</a
						>
					</li>
					<li>
						<a href="../validation/validation_ST2.html"
							>Lison's Validation</a
						>
					</li>
					<li>
						<a href="../validation/validation_ST3.html"
							>Emika's Validation</a
						>
					</li>
					<li>
						<a href="../validation/validation_ST4.html"
							>Oshan's Validation</a
						>
					</li>
				</ul>
			</div>
			<div class="footer-column">
				<h3>Contact Us</h3>
				<ul>
					<li>
						<a href="mailto:Sansith.20231614@iit.ac.lk" target="_blank">Sansith</a>
					</li>
					<li><a href="mailto:Lison.20231615@iit.ac.lk" target="_blank">Lison</a></li>
					<li><a href="mailto:Emika.20231615@iit.ac.lk" target="_blank">Emika</a></li>
					<li><a href="mailto:Oshan.20231615@iit.ac.lk" target="_blank">Oshan</a></li>
				</ul>
			</div>

			<div class="footer-column social">
				<h3>Social</h3>
				<div class="social-icons">
					<a href="https://www.facebook.com/SustDev" title="Facebook" target="_blank"
						><i class="fab fa-facebook"></i
					></a>
					<a href="https://twitter.com/SustDev" title="X" target="_blank"
						><i class="fab fa-twitter"></i
					></a>
					<a
						href="https://www.youtube.com/user/uncsd2012/featured"
						title="Youtube"
						target="_blank"
						><i class="fab fa-youtube"></i
					></a>
				</div>
					<div class="bt-container">
						<a href="../pages/feedback.html">
						<button class="bt-col">Send Feedback</button>
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="footer-bottom">
		<p>&copy; 2025 Apilage Company | All Rights Reserved</p>
	</div>
</footer>
