<header>
    <div class="logo-container">
        <div class="logo">
            <img src="/res/logo.svg" alt="Company Logo">
        </div>
    </div>
    <nav>
        <ul class="nav-list">
            <li><a href="#">Home</a></li>
            <li class="dropdown-item">
                <a href="#">Content</a>
                <ul class="dropdown">
                    <li><a href="#">Content1</a></li>
                    <li><a href="#">Content2</a></li>
                    <li><a href="#">Content3</a></li>
                    <li><a href="#">Content4</a></li>
                </ul>
            </li>

            <li class="dropdown-item">
                <a href="#">Validation</a>
                <ul class="dropdown">
                    <li><a href="#">Validation1</a></li>
                    <li><a href="#">Validation2</a></li>
                    <li><a href="#">Validation3</a></li>
                    <li><a href="#">Validation4</a></li>
                </ul>
            </li>

            <li><a href="#">Feedback</a></li>
            <li><a href="#">About</a></li>
            <li><a href="#">Contact</a></li>
        </ul>
    </nav>

    <div class="theme-switch-wrapper">
        <label class="theme-switch" for="checkbox">
            <input type="checkbox" id="checkbox" />
            <div class="slider round">
                <span class="moon"></span>
                <span class="sun"></span>
            </div>
        </label>
    </div>

    <div class="profile-picture">
        <img src="/res/profile.jpg" alt="Profile Picture">
    </div>
</header>