<header>
    <div class="logo-container">
        <div class="logo">
            <img src="/res/logo.svg" alt="Company Logo">
        </div>
    </div>
    <nav>
        <ul class="nav-list">
            <li><a href="/src/pages/home.html">Home</a></li>
            <li class="dropdown-item">
                <a href="#">Content</a>
                <ul class="dropdown">
                    <li><a href="../content/content_ST1.html">Content1</a></li>
                    <li><a href="../content/content_ST2.html">Content2</a></li>
                    <li><a href="../content/content_ST3.html">Content3</a></li>
                    <li><a href="../content/content_ST4.html">Content4</a></li>
                </ul>
            </li>

            <li class="dropdown-item">
                <a href="#">Validation</a>
                <ul class="dropdown">
                    <li><a href="../validation/validation_ST1.html">Validation1</a></li>
                    <li><a href="../validation/validation_ST2.html">Validation3</a></li>
                    <li><a href="../validation/validation_ST3.html">Validation2</a></li>
                    <li><a href="../validation/validation_ST4.html">Validation4</a></li>
                </ul>
            </li>

            <li><a href="#">Feedback</a></li>
            <li><a href="#">About</a></li>
        </ul>
    </nav>
    <div class="profile-picture">
        <img src="/res/profile.jpg" alt="Profile Picture">
    </div>
</header>