body {
  text-align: center;
  margin: 0;
  padding: 0;
}

h1 {
  margin-top: 20px;
  padding: auto;
}

label {
  font-size: 0.8rem;
  font-weight: normal;
}

.container {
  max-width: 90%;
  width: 500px;
  margin: auto;
  text-align: left;
}

fieldset {
  border:1px solid var(--primary-color);
  border-radius: 10px;
  padding: 20px;
}

p {
  font-size: 1rem;
}

input,
textarea {
  width: auto;
  font-family: "Arial";
  padding: 10px;
  margin: 5px;
  border: 1px solid;
  border-radius: 10px;
  opacity: 75%;
  background-color: rgb(228, 228, 228);
}

input:invalid {
  border: 2px solid red;
}

input:valid {
  border: 2px solid var(--primary-color);
}

input:invalid + .error-msg {
  display: block;
  color: red;
  font-size: 10px;
}

.error-msg {
  display: none;
}

button {
  width: 100%;
  padding: 10px;
  border-radius: 10px;
  background-color: var(--primary-color);
  border: none;
}

button:hover,
input:hover {
  opacity: 50%;
  transition: ease-in-out 1.5s;
}

input:hover,
textarea:hover {
  opacity: 150%;
  transform: scale(1.05);
  transition: 0.5s;
}

#name,
#mail,
#contactno,
#write,
#attachment,
#schedule_datetime,
#homeaddress,
select {
  width: 95%;
}

select {
  border: 1px solid #6d8b74;
  border-radius: 15px;
  font-size: 13px;
  padding: 10px;
  background-color: rgb(228, 228, 228);
}

.rating-scale {
  display: flex;
  gap: 10px;
  justify-content: center;
  border: 1px solid #6d8b74;
  border-radius: 15px;
  padding: 10px;
}

.rating-scale input {
  display: none; 
}

.rating-scale label {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  border: 1px solid var(--primary-color);
  border-radius: 50%;
  font-size: 15px;
  font-weight: bold;
  transition: 0.3s;
}

.rating-scale input:checked + label {
  background-color: #6d8b74; 
  color: white;
  transform: scale(1.1);
}

.rating-scale label:hover {
  background-color: #6d8b74;
  color: antiquewhite;
}



/* Mobile Responsiveness */
@media (max-width: 768px) {
  .container {
    max-width: 95%;
    padding: 10px;
  }

  fieldset {
    padding: 15px;
  }

  fieldset label {
    font-size: 15px;
  }
  button {
    font-size: 0.9rem;
    padding: 12px;
  }

  .rating-scale label {
    font-size: 13px;
    width: 40px;
    height: 20px;
  }
}