@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Roboto:ital,wdth,wght@0,75..100,100..900;1,75..100,100..900&display=swap');

* {
    font-family: "Merriweather", serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #ffffff;
}

h1 {
    color: #000000;
    background-color: #E3F0AF;
    display: flex;
    align-items: center;
}

a,
button {
    font-family: "Merriweather", serif;
    font-weight: 500;
    font-size: 16px;
    text-decoration: none;
    color: #000000;
    list-style: none;
    background-color: #E3F0AF;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 1%;
    background-color: #E3F0AF;
    color: #000000;
}

.logo-container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    background-color: #E3F0AF;
    border-radius: 5px;
}

.logo {
    cursor: pointer;
    width: 40px;
    /* Adjust the size as needed */
    height: auto;
    margin-right: 10px;
    /* Adjust the spacing as needed */
}

.nav-links {
    list-style: none;
}

.nav-links li {
    display: inline-block;
    padding: 0px 20px;
}

.nav-links li a {
    transition: all 0.3s ease 0s;
}

.nav-links li a:hover {
    color: #0088a9;
}

button {
    padding: 9px 25px;
    background-color: rgba(0, 136, 169, 1);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

button:hover {
    background-color: rgba(0, 136, 169, 0.8);
}

.nav_list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #E3F0AF;
}

.nav_list li {
    float: left;
}

.nav_list li a,
.dropdown {
    display: inline-block;
    color: #000000;
    /* Navbar font color */
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.nav_list li a:hover {
    background-color: #5DB996;
}

#splash-frame {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none;
    z-index: 1000;
    background: transparent;
    font-family: "Merriweather", serif;
}