@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --lightBackground: #FBF6E9;
    --darkBackground: #2c2c30;
    --subtleEmp: #E3F0AF;
    --roughEmp: #5DB996;
    --mainCol: #118B50;
}

body {
    font-family: 'Merriweather', serif;
}

/* * {
    font-family: "Roboto", serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: white;
}

li,
a,
button {
    font-family: "Roboto", serif;
    font-weight: 500;
    text-decoration: none;
    list-style: none;
} */