h1 {
  text-align: center;
  font-size: 4vw;
  padding: 2vw;
}

#information {
  font-size: 1.2rem;
  text-align: center;
}

.container img {
  width: 280px;
  border-radius: 10px;
}

.container {
  display: flex;
  height: 500px;
  gap: 15px;
  justify-content: center;
  padding: 3vw;
  border-radius: 15px;
}

.team-member {
  position: relative;
}

.member-details {
  display: none;
  font-size: 12px;
  position: absolute;
  bottom: 10;
  background-color: #353535;
  color: white;
  width: 95%;
  padding: 10px;
  border-radius: 10px;
}

.team-member:hover .member-details {
  display: block;
  transition: 2s;
  transform: scale(1.05);
}

.team-member:hover img {
  opacity: 50%;
  transform: scale(1.05);
  transition: 1.2s;
}

#thanku {
  font-size: 30px;
  text-align: center;
}

.icons {
  display: flex;
  align-items: center;
  gap: 10px;
}
.icons i {
  color: white;
}



/* Responsive Design for mobile devices */
@media (max-width: 768px) {
  .container {
    flex-direction: column;
    align-items: center;
    height: auto;
  }

  .team-member {
    justify-content: center;
    flex: none;
    width: 90%;
  }

  .container .team-member .member-details {
    transition: 1s;
    margin: auto;
    font-size: 13px;
    width: 100%;
    height: 100%;
    bottom: 0;
  }

}
