body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    
}
main{
    display: flex;
    flex-direction: column;
    background-color: white;
    padding:1rem;
    
}
.heading{
    margin: auto;
    margin-bottom: 0.5rem;
}
form{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
}