body {
	margin-top: 3rem;
}

h2 {
	font-size: 2rem;
	color: var(--text-color);
	margin-bottom: 2rem;
}

p {
	margin-bottom: 2rem;
}

.image-container {
	margin-top: 2rem;
}

.image-container img {
	width: 100%;
	height: 500px;
	object-fit: cover;
	border-radius: 8px;
    margin-bottom: 2rem;
}

.benefits-section {
    text-align: center;
    width: 100%;
}

.benefits-section h2 {
    margin-bottom: 2rem;
    font-size: 2rem;
    color: var(--text-color);
}

.benefits-cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 2rem;
    width: 100%;
}

.benefits-card {
    background-color: var(--card-background);
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 2px 4px var(--shadow-color);
    transition: all 0.3s ease;
}

.benefits-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 10px 15px var(--shadow-color);
}

.benefits-card i {
    color: var(--primary-color);
    margin-bottom: 1rem;
}

.benefits-card h3 {
    margin-bottom: 1rem;
    color: var(--text-color);
}

.content h1, .content h2 {
    color: var(--text-color);
    margin-bottom: 1rem;
}

.content p {
    color: var(--text-color);
    line-height: 1.8;
}

.program-cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 2rem;
    width: 100%;
}

.program-card {
    background-color: var(--card-background);
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 2px 4px var(--shadow-color);
    transition: all 0.3s ease;
}

.program-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 10px 15px var(--shadow-color);
}

.program-card i {
    color: var(--primary-color);
    margin-bottom: 1rem;
}

.program-card h3 {
    margin-bottom: 1rem;
    color: var(--text-color);
}