:root {
    --lightBackground: #FBF6E9;
    --darkBackground: #2c2c30;
    --subtleEmp: #E3F0AF;
    --roughEmp: #5DB996;
    --mainCol: #118B50;
}

body {
    background-color: var(--darkBackground);

}

/* --text: #140d05;
--background: #124f31;
--primary: #FBF6E9;
--secondary: #E3F0AF;
--accent: #5DB996; */
